#page-body {
    transition: margin-left .5s;
}

.dark-color {
    background-color: #282c34;
    padding: 15px 10rem;
}

.navbar-title {
    color: #61dafb;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
}

.navbar-title:hover{
    color: #009cc7;
    transition: 0.5s;
}

.text-align-center{
    text-align: center;
}

.header{
    padding: 3.5rem 25%;
    background: #dff8ff;
    color: #282c34;
    border-bottom: 1px solid #87eaff;
}

.container{
    padding: 2.5rem;
}

.form-group-question{
    margin-left: 20% !important;
    margin-right: 20% !important;
}

.custom-pill{
    margin: 5px;
    font-size: 80%;
    background-color: #eaeaea;
}

.slot-image {
    width: 100%;
    background: white;
    border: 1px solid gainsboro;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 3px 2px 12px 2px #d0d0d0;
}